/*════════════════════════════════════════════
    Font Change 1.0 by @pseudo
    https://anilist.co/user/pseudo/
    Modular: YES
════════════════════════════════════════════*/

/*════════════════════════════════════════════
I don't have this snippet imported myself, but I thought it'd be useful for anyone that wanted to change their font quickly and easily with only a few imports.
Simply @import this snippet, your chosen font (I recommend Google Fonts), and then declare a --font variable BELOW your import as shown below:

:root {
      --font: "name", serif/sans-serif/etc;
}
════════════════════════════════════════════*/
/* A LOT of these selectors are redundant. I just don't feel like figuring out which ones, and this covers everything, anyways. */
*.overview, .stats-wrap, .nav, .lists, .filters, .user-follow, .user-reviews, .filter-group, .el-input__inner, .el-textarea__inner, .el-scrollbar, .el-tooltip__popper, .tooltip .content, .user-follow > .name, .section-header, .banner-content, .option, .content > .user-social, .content .submissions, .el-dropdown-menu.el-popper.el-dropdown-menu--small, .el-dropdown-menu.el-popper.activity-extras-dropdown.el-dropdown-menu--medium, .container > .activity-entry .wrap, .container > .activity-entry .reply, .el-dialog__body .title, .el-dialog__body .save-btn, .el-dialog__body .input-title, *.el-picker-panel.el-date-picker.el-popper, *.quick-search.visible, .has-label[data-v-04d66030]:before, .primary-links, .footer, #nav.nav .links, .hohNotificationCake *, *.el-message-box, .el-button.el-button--default.el-button--small, .el-button.el-button--default.el-button--small.el-button--primary, .load-more, .delete-btn, .hohButton, *.checkbox-wrap, .activity-feed .time, .el-select__input, .content.container > div > div:nth-child(1) > div:nth-child(2) > h2, .button[data-v-c574a71c], .donator-badge:not(.donator-badge.rainbow), * {
    font-family: var(--font) !important;
