/*════════════════════════════════════════════
    Favourites Background Change V1.0 by @voidnyan
    https://anilist.co/user/voidnyan/
    Modular: YES
════════════════════════════════════════════*/

/*════════════════════════════════════════════
This snippet configures profile backgrounds to change for a specified --layout-delay when a specific favourite item is hovered.
Check out the various --banner-url specifications I have for specific favourite hovers in my CSS to get an idea for the syntax for that.
This snippet is only for the base code and not for any of the actual declarations I've made.

@voidnyan basically made this snippet, with me mostly adding the direct activity fix as well as my own variables for timings.
All credit goes to them for this idea/feature.
════════════════════════════════════════════*/
body::before { /* Main Code */
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--banner-url);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: background var(--master-transition-timer) var(--layout-delay) ease-in-out;
}
body:has(a.favourite:hover)::before {
    transition: background var(--master-transition-timer) 0s ease-in-out;
}

body:has(.container > .activity-entry)::before { /* Fixes Direct Activities */
    background-image: none;
}
body:has(.container > .activity-entry) {
    background: var(--banner-url);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body { /* Optional fallback background colour if there's a gap in transitions */
    background-color: black;
}
