/*--- Hidamari Sketch x Honeycomb (HidaSketch) ---*/
.favourites.preview a.favourite[href*="anime/11239"] {
    background-image: url(https://i.imgur.com/Drih9ok.jpeg) !important;
    grid-column: 1 / 5;
    min-height: 150px !important;
}
.favourites.preview a.favourite[href*="anime/11239"]:hover {
    box-shadow: var(--box-shadow) #978b53;
}
.favourites a.favourite[href*="anime/11239"]:hover {
    box-shadow: var(--box-shadow) #89d191;
}
body:has(a.favourite[href*="anime/11239"]:hover) {
    --banner-url: url(https://i.imgur.com/carA3LN.jpeg);
    --banner-bubble: url(https://i.imgur.com/vghbKgZ.png);
}

/*--- Aria the Origination ---*/

.favourites.preview a.favourite[href*="anime/3297"] {
    background-image: url(https://i.imgur.com/WdZRZ8z.jpeg) !important;
    grid-column: 1 / 5;
    min-height: 150px !important;
}
.favourites.preview a.favourite[href*="anime/3297"]:hover {
    box-shadow: var(--box-shadow) #bea5a7;
}
.favourites a.favourite[href*="anime/3297"]:hover {
    box-shadow: var(--box-shadow) #5191f3;
}
body:has(a.favourite[href*="anime/3297"]:hover) {
    --banner-url: url(https://i.imgur.com/ngz2asu.jpeg);
    --banner-bubble: url(https://i.imgur.com/mS1bwGf.png);
}

/*--- Mushishi ---*/
.favourites a.favourite[href*="anime/457"]:hover {
    box-shadow: var(--box-shadow) #434b39;
}

/*--- Liz and the Blue Bird ---*/
.favourites a.favourite[href*="anime/100178"]:hover {
    box-shadow: var(--box-shadow) #87cbde;
}

/*--- Sorayori (A Place Further Than The Universe) ---*/
.favourites a.favourite[href*="anime/99426"]:hover {
    box-shadow: var(--box-shadow) #ea8025;
}

/*--- Ashita no Joe 2 ---*/
.favourites a.favourite[href*="anime/2921"]:hover {
    box-shadow: var(--box-shadow) #d72a35;
}

/*--- Non Non Biyori ---*/
.favourites a.favourite[href*="anime/17549"]:hover {
    box-shadow: var(--box-shadow) #54c417;
}

/*--- Tamayura Ashita ---*/
.favourites a.favourite[href*="anime/21554"]:hover {
    box-shadow: var(--box-shadow) #f9e6ec;
}
/*--- Sonny Boy ---*/
.favourites a.favourite[href*="anime/132126"]:hover {
    box-shadow: var(--box-shadow) #b9b496;
}

/*--- Tamako Love Story ---*/
.favourites a.favourite[href*="anime/20519"]:hover {
    box-shadow: var(--box-shadow) #c1f378;
}

/*--- Oregairu Zoku (Anime) ---*/
.favourites a.favourite[href*="anime/20698"]:hover {
    box-shadow: var(--box-shadow) #aa7984;
}

/*--- Hyouka (Anime)---*/
.favourites a.favourite[href*="anime/12189"]:hover {
    box-shadow: var(--box-shadow) #f4c1be;
}

/*--- Akage no Anne ---*/
.favourites a.favourite[href*="anime/283"]:hover {
    box-shadow: var(--box-shadow) #f9e8d9;
}

/*--- Girls' Last Tour (Anime) ---*/
.favourites a.favourite[href*="anime/99420"]:hover {
    box-shadow: var(--box-shadow) #475652;
}

/*--- Chihayafuru (Anime) ---*/
.favourites a.favourite[href*="anime/10800"]:hover {
    box-shadow: var(--box-shadow) #94c83b;
}

/*--- Shirobako ---*/
.favourites a.favourite[href*="anime/20812"]:hover {
    box-shadow: var(--box-shadow) #5287d7;
}
/*--- In This Corner Of The World ---*/
.favourites a.favourite[href*="anime/15227"]:hover {
    box-shadow: var(--box-shadow) #b2c989;
}

/*--- March Comes In Like A Lion ---*/
.favourites a.favourite[href*="anime/21366"]:hover {
    box-shadow: var(--box-shadow) #abdbec;
}

/*--- Haibane Renmei ---*/
.favourites a.favourite[href*="anime/387"]:hover {
    box-shadow: var(--box-shadow) #88a7b0;
}

/*--- Yuru Camp ---*/
#app > div.page-content > div > div.content.container > div > div:nth-child(1) > div:nth-child(4) > div > a:nth-child(17) {
    background-size: 102% !important;
}

#app > div.page-content > div > div.content.container > div > div:nth-child(1) > div:nth-child(4) > div > a:nth-child(17):hover {
    background-size: 110% !important;
}

.favourites a.favourite[href*="anime/98444"]:hover {
    box-shadow: var(--box-shadow) #6f62a9;
}

/*--- Texhnolyze ---*/
.favourites a.favourite[href*="anime/26"]:hover {
    box-shadow: var(--box-shadow) #65907b;
}

/*--- Nana (Anime) ---*/
.favourites a.favourite[href*="anime/877"]:hover {
    box-shadow: var(--box-shadow) #e3c690;
}

#app > div.page-content > div > div.content.container > div > div:nth-child(1) > div:nth-child(4) > div > a:nth-child(25) {
    background-size: 105% !important;
}

#app > div.page-content > div > div.content.container > div > div:nth-child(1) > div:nth-child(4) > div > a:nth-child(25):hover {
    background-size: 113% !important;
}

/*--- Aquatope ---*/
.favourites a.favourite[href*="anime/128545"]:hover {
    box-shadow: var(--box-shadow) #2d69de;
}

/*--- Sakura Quest ---*/
.favourites a.favourite[href*="anime/97903"]:hover {
    box-shadow: var(--box-shadow) #c0cc68;
}

/*--- Super Cub ---*/
.favourites a.favourite[href*="anime/113418"]:hover {
    box-shadow: var(--box-shadow) #c7c6cc;
}

/*--- Bloom Into You (Manga)---*/
.favourites.preview a.favourite[href*="manga/86218"] {
    background-image: url(https://i.imgur.com/7fwkqQA.jpeg) !important;
    grid-column: 1 / 5;
    min-height: 150px !important;
}
.favourites.preview a.favourite[href*="manga/86218"]:hover {
    box-shadow: var(--box-shadow) #e79a70;
}
.favourites a.favourite[href*="manga/86218"]:hover {
    box-shadow: var(--box-shadow) #e9978c;
}
body:has(a.favourite[href*="manga/86218"]:hover) {
    --banner-url: url(https://i.imgur.com/yM39bna.jpeg);
    --banner-bubble: url(https://i.imgur.com/ravRHjM.png);
}

/*--- Oregairu (Light Novel) ---*/
.favourites.preview a.favourite[href*="manga/70171"] {
    background-image: url(https://i.imgur.com/hxS2lAL.jpeg) !important;
    grid-column: 1 / 5;
    min-height: 150px !important;
}
.favourites.preview a.favourite[href*="manga/70171"]:hover {
    box-shadow: var(--box-shadow) #95879f;
}
.favourites a.favourite[href*="manga/70171"]:hover {
    box-shadow: var(--box-shadow) #9c99ad;
}
body:has(a.favourite[href*="manga/70171"]:hover) {
    --banner-url: url(https://i.imgur.com/aPpnHr3.jpeg);
    --banner-bubble: url(https://i.imgur.com/AxVHQFG.png);
}

/*--- Yokohama Kaidashi Kikou (YKK) ---*/
.favourites a.favourite[href*="manga/30004"]:hover {
    box-shadow: var(--box-shadow) #abd2d9;
}

/*--- Perfect World ---*/
.favourites a.favourite[href*="manga/93433"]:hover {
    box-shadow: var(--box-shadow) #ff6a88;
}

/*--- Solanin ---*/
.favourites a.favourite[href*="manga/33731"]:hover {
    box-shadow: var(--box-shadow) #b5883b;
}

/*--- Chihayafuru (Manga) ---*/
.favourites a.favourite[href*="manga/43245"]:hover {
    box-shadow: var(--box-shadow) #fa8d65;
}

/*--- Girls' Last Tour (Manga) ---*/
.favourites a.favourite[href*="manga/85412"]:hover {
    box-shadow: var(--box-shadow) #919496;
}

/*--- Hyouka/Koten-bu (Light Novel) ---*/
.favourites a.favourite[href*="manga/65513"]:hover {
    box-shadow: var(--box-shadow) #95cc41;
}

/*--- Scum's Wish ---*/
.favourites a.favourite[href*="manga/74929"]:hover {
    box-shadow: var(--box-shadow) #583e8f;
}

/*--- Kamigami no Itadaki (The Summit of the Gods) ---*/
.favourites a.favourite[href*="manga/34625"]:hover {
    box-shadow: var(--box-shadow) #85a497;
}

/*--- Akari Mizunashi (Aria) ---*/
.favourites a.favourite[href*="character/378"]:hover {
    box-shadow: var(--box-shadow) #e883cb;
}

/*--- Yuu Koito (Bloom Into You) ---*/
.favourites a.favourite[href*="character/123528"]:hover {
    box-shadow: var(--box-shadow) #f6aa93;
}

/*--- Taichi Mashima (Chihayafuru) ---*/
.favourites a.favourite[href*="character/47167"]:hover {
    box-shadow: var(--box-shadow) #fcd189;
}

/*--- Joe Yabuki (Ashita no Joe) ---*/
.favourites a.favourite[href*="character/11804"]:hover {
    box-shadow: var(--box-shadow) #de3622;
}

/*--- Kazuho Miyauchi/Kazu-nee (Non Non Biyori) ---*/
.favourites a.favourite[href*="character/87832"]:hover {
    box-shadow: var(--box-shadow) #8d7682;
}

/*--- Alice Carroll (Aria) ---*/
.favourites a.favourite[href*="character/382"]:hover {
    box-shadow: var(--box-shadow) #90aaae;
}

/*--- Fuu Sawatari/Potte (Tamayura) ---*/
.favourites a.favourite[href*="character/35468"]:hover {
    box-shadow: var(--box-shadow) #e7dfda;
}

/*--- Rin Shima (Yuru Camp) ---*/
.favourites a.favourite[href*="character/124586"]:hover {
    box-shadow: var(--box-shadow) #667190;
}

/*--- Aoi Miyamori (Shirobako) ---*/
.favourites a.favourite[href*="character/88651"]:hover {
    box-shadow: var(--box-shadow) #ebaf69;
}
/*--- Yukino Yukinoshita (Oregairu) ---*/
.favourites a.favourite[href*="character/67067"]:hover {
    box-shadow: var(--box-shadow) #a3a1b1;
}

/*--- Koguma (Super Cub) ---*/
.favourites a.favourite[href*="character/133946"]:hover {
    box-shadow: var(--box-shadow) #61636d;
}

/*--- Ginko (Mushishi) ---*/
.favourites a.favourite[href*="character/425"]:hover {
    box-shadow: var(--box-shadow) #eff0ed;
}

/*--- Saeki Sayaka (Character) (Bloom Into You/Saeki Sayaka ni Tsuite) ---*/
.favourites a.favourite[href*="character/123530"]:hover {
    box-shadow: var(--box-shadow) #c69885;
}

/*--- Yuno (Hidamari Sketch/HidaSketch) ---*/
.favourites a.favourite[href*="character/2528"]:hover {
    box-shadow: var(--box-shadow) #a58760;
}

/*--- Hiro (Hidamari Sketch/HidaSketch) ---*/
.favourites a.favourite[href*="character/3216"]:hover {
    box-shadow: var(--box-shadow) #f1c8a5;
}

/*--- Kao/Kaoru Hanawa (Tamayura) ---*/
.favourites a.favourite[href*="character/35469"]:hover {
    box-shadow: var(--box-shadow) #76414d;
}

/*--- Renge Miyauchi (Non Non Biyori) ---*/
.favourites a.favourite[href*="character/54151"]:hover {
    box-shadow: var(--box-shadow) #bdaec8;
}

/*--- Sae (Hidamari Sketch/HidaSketch) ---*/
.favourites a.favourite[href*="character/3215"]:hover {
    box-shadow: var(--box-shadow) #756a89;
}

/*--- Nori (Hidamari Sketch) ---*/
.favourites a.favourite[href*="character/14914"]:hover {
    box-shadow: var(--box-shadow) #9baeb4;
}

/*--- Nana Oosaki (Nana) ---*/
.favourites a.favourite[href*="character/702"]:hover {
    box-shadow: var(--box-shadow) #3f3773;
}

/*--- Naoko Yamada ---*/
.favourites a.favourite[href*="staff/102498"]:hover {
    box-shadow: var(--box-shadow) #bf9983;
}

/*--- Junichi Satou ---*/
.favourites a.favourite[href*="staff/99002"]:hover {
    box-shadow: var(--box-shadow) #f7e8c9;
}

/*--- Osamu Dezaki ---*/
.favourites a.favourite[href*="staff/100393"]:hover {
    box-shadow: var(--box-shadow) #9cb5d9;
}
/*--- Isao Takahata ---*/
.favourites a.favourite[href*="staff/100579"]:hover {
    box-shadow: var(--box-shadow) #c0cee8;
}

/*--- Hitoma Iruma ---*/
.favourites a.favourite[href*="staff/99956"]:hover {
    box-shadow: var(--box-shadow) #d6d99b;
}

/*--- Reiko Yoshida ---*/
.favourites a.favourite[href*="staff/97076"] {
    background-image: url(https://i.imgur.com/G94ZngY.jpeg) !important;
}

.favourites a.favourite[href*="staff/97076"]:hover {
    box-shadow: var(--box-shadow) #737c43;
}

/*--- Kensuke Ushio ---*/
.favourites a.favourite[href*="staff/119254"]:hover {
    box-shadow: var(--box-shadow) #a1b2c8;
}

/*--- Choro Club ---*/
.favourites a.favourite[href*="staff/101379"]:hover {
    box-shadow: var(--box-shadow) #a88a62;
}

/*--- Kana Hanazawa ---*/
.favourites a.favourite[href*="staff/95185"]:hover {
    box-shadow: var(--box-shadow) #dcba19;
}

/*--- Ayane Sakura ---*/
.favourites a.favourite[href*="staff/106622"]:hover {
    box-shadow: var(--box-shadow) #b2b3c6;
}

/*--- Aoi Yuuki ---*/
.favourites a.favourite[href*="staff/101686"]:hover {
    box-shadow: var(--box-shadow) #7d9abc;
}

/*--- marble ---*/
.favourites a.favourite[href*="staff/104831"]:hover {
    box-shadow: var(--box-shadow) #eaecea;
}

/*--- Ponkan 8 ---*/
.favourites a.favourite[href*="staff/114844"] {
    background-image: url(https://i.imgur.com/KWIFF0I.jpeg) !important;
}
.favourites a.favourite[href*="staff/114844"]:hover {
    box-shadow: var(--box-shadow) #f18a78;
}

/*--- Akiyuki Shinbou ---*/
.favourites a.favourite[href*="staff/100089"]:hover {
    box-shadow: var(--box-shadow) #e2dcdf;
}

/*--- Ume Aoki ---*/
.favourites a.favourite[href*="staff/97969"] {
    background-image: url(https://i.imgur.com/jkB9w75.jpeg) !important;
}
.favourites a.favourite[href*="staff/97969"]:hover {
    box-shadow: var(--box-shadow) #4c5784;
}

/*--- Kyoto Animation (KyoAni) ---*/
a.favourite[href*="studio/2/"] {
    background-image: url("https://i.imgur.com/tiEbPVD.jpeg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.favourites a.favourite.studio[href*="studio/2/"]:hover {
    color: #ffffff;
    text-shadow: rgb(120, 158, 205) 1px 0px 0px, rgb(120, 158, 205) 0.540302px 0.841471px 0px, rgb(120, 158, 205) -0.416147px 0.909297px 0px, rgb(120, 158, 205) -0.989992px 0.14112px 0px, rgb(120, 158, 205) -0.653644px -0.756802px 0px, rgb(120, 158, 205) 0.283662px -0.958924px 0px, rgb(120, 158, 205) 0.96017px -0.279415px 0px !important;
}
.favourites a.favourite.studio[href*="studio/2/"]:hover::after {
    box-shadow: var(--box-shadow) #afa4b9 !important;
}
body:has(a.favourite[href*="studio/2"]:hover) {
    --banner-url: url(https://i.imgur.com/tFGqZQ9.jpeg);
    --banner-bubble: url(https://i.imgur.com/gT5xyq9.png);
}

/*--- P.A. Works (PA Works) ---*/
a.favourite[href*="studio/132/"] {
    background-image: url("https://i.imgur.com/sAq5vSb.jpeg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.favourites a.favourite.studio[href*="studio/132/"]:hover {
    color: #ffffff;
    text-shadow: rgb(125, 102, 189) 1px 0px 0px, rgb(125, 102, 189) 0.540302px 0.841471px 0px, rgb(125, 102, 189) -0.416147px 0.909297px 0px, rgb(125, 102, 189) -0.989992px 0.14112px 0px, rgb(125, 102, 189) -0.653644px -0.756802px 0px, rgb(125, 102, 189) 0.283662px -0.958924px 0px, rgb(125, 102, 189) 0.96017px -0.279415px 0px !important;
}
.favourites a.favourite.studio[href*="studio/132/"]:hover::after {
    box-shadow: var(--box-shadow) #ffffff !important;
}
body:has(a.favourite[href*="studio/132"]:hover) {
    --banner-url: url(https://i.imgur.com/ZlvGhgL.jpeg);
    --banner-bubble: url(https://i.imgur.com/1jgRv0i.png);
}
