.overview .about [href="leaf"] {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 87px;
    height: 87px;
    border-radius: var(--border-radius) var(--border-radius) 4px var(--border-radius);
    background-image: url(https://i.imgur.com/wWh7hG1.png);
    background-size: cover;
    pointer-events: none;
    z-index: 5;
    opacity: 1;
    transition: opacity 0.15s ease-out 0.075s;
}

.overview .about [href="slideshowtrigger"] {
    content: "";
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: var(--border-radius) var(--border-radius) 4px var(--border-radius);
    width: 80px;
    height: 80px;
    background: rgba(10, 10, 10, 0.8);
    z-index: 4;
    transition: width 0.45s cubic-bezier(0.25, 0.9, 0.2, 1), height 0.45s cubic-bezier(0.25, 0.9, 0.2, 1);
    backdrop-filter: blur(8px);
    overflow: hidden;
}

body:has(.overview .about [href="slideshowtrigger"]:hover) .overview .about [href="leaf"] {
    opacity: 0;
    transition-delay: 0s; 
}

.overview .about [href="slideshowtrigger"]:hover {
    width: 470px;
    height: 634px;
    transform-origin: bottom right;
}

.overview .about [href^="img"] {
    position: fixed;
    width: 1px;
    height: 1px;
    bottom: 30px;
    right: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 5;
    pointer-events: none;
    visibility: hidden;
    transition: width 0.45s cubic-bezier(0.25, 0.9, 0.2, 1), height 0.45s cubic-bezier(0.25, 0.9, 0.2, 1);
    border-radius: var(--border-radius) var(--border-radius) 4px var(--border-radius);
}

body:has(.overview .about [href="slideshowtrigger"]:hover) .overview .about [href^="img"] {
    visibility: visible;
    width: 450px;
    height: 615px;
}

@keyframes fade1 {
    0% { opacity: 1; }
    7.870% { opacity: 1; }
    8.333% { opacity: 0; }
    99.537% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fade2 {
    0% { opacity: 0; }
    7.870% { opacity: 0; }
    8.333% { opacity: 1; }
    16.204% { opacity: 1; }
    16.667% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes fade3 {
    0% { opacity: 0; }
    16.204% { opacity: 0; }
    16.667% { opacity: 1; }
    24.537% { opacity: 1; }
    25.000% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes fade4 {
    0% { opacity: 0; }
    24.537% { opacity: 0; }
    25.000% { opacity: 1; }
    32.870% { opacity: 1; }
    33.333% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes fade5 {
    0% { opacity: 0; }
    32.870% { opacity: 0; }
    33.333% { opacity: 1; }
    41.204% { opacity: 1; }
    41.667% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes fade6 {
    0% { opacity: 0; }
    41.204% { opacity: 0; }
    41.667% { opacity: 1; }
    49.537% { opacity: 1; }
    50.000% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes fade7 {
    0% { opacity: 0; }
    49.537% { opacity: 0; }
    50.000% { opacity: 1; }
    57.870% { opacity: 1; }
    58.333% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes fade8 {
    0% { opacity: 0; }
    57.870% { opacity: 0; }
    58.333% { opacity: 1; }
    66.204% { opacity: 1; }
    66.667% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes fade9 {
    0% { opacity: 0; }
    66.204% { opacity: 0; }
    66.667% { opacity: 1; }
    74.537% { opacity: 1; }
    75.000% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes fade10 {
    0% { opacity: 0; }
    74.537% { opacity: 0; }
    75.000% { opacity: 1; }
    82.870% { opacity: 1; }
    83.333% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes fade11 {
    0% { opacity: 0; }
    82.870% { opacity: 0; }
    83.333% { opacity: 1; }
    91.204% { opacity: 1; }
    91.667% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes fade12 {
    0% { opacity: 0; }
    91.204% { opacity: 0; }
    91.667% { opacity: 1; }
    99.537% { opacity: 1; }
    100% { opacity: 0; }
}

.overview .about [href="img1"]  { background-image: url(https://i.imgur.com/N3s55VA.jpeg); animation: fade1 89s linear infinite; }
.overview .about [href="img2"]  { background-image: url(https://i.imgur.com/udGmEPe.jpeg); animation: fade2 89s linear infinite; }
.overview .about [href="img3"]  { background-image: url(https://i.imgur.com/lDYYShB.jpeg); animation: fade3 89s linear infinite; }
.overview .about [href="img4"]  { background-image: url(https://i.imgur.com/2U8aUz7.jpeg); animation: fade4 89s linear infinite; }
.overview .about [href="img5"]  { background-image: url(https://i.imgur.com/9BYgP52.jpeg); animation: fade5 89s linear infinite; }
.overview .about [href="img6"]  { background-image: url(https://i.imgur.com/l6ivjx0.jpeg); animation: fade6 89s linear infinite; }
.overview .about [href="img7"]  { background-image: url(https://i.imgur.com/fFZF8mf.jpeg); animation: fade7 89s linear infinite; }
.overview .about [href="img8"]  { background-image: url(https://i.imgur.com/iNeS9QM.jpeg); animation: fade8 89s linear infinite; }
.overview .about [href="img9"]  { background-image: url(https://i.imgur.com/yfbfHPf.jpeg); animation: fade9 89s linear infinite; }
.overview .about [href="img10"] { background-image: url(https://i.imgur.com/9M94Wk2.jpeg); animation: fade10 89s linear infinite; }
.overview .about [href="img11"] { background-image: url(https://i.imgur.com/AEhSEPp.jpeg); animation: fade11 89s linear infinite; }
.overview .about [href="img12"] { background-image: url(https://i.imgur.com/ugq6PoP.jpeg); animation: fade12 89s linear infinite; }

.overview .about a[href="nozomipopup"] {
    background: url(https://i.imgur.com/wbo5QPe.png);
    position: fixed;
    bottom: 460px;
    right: 405px;
    width: 160px;
    height: 160px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
    transform: rotate(-40deg) translateX(50%) translateY(30%);
    pointer-events: none;
    visibility: hidden;
    transition: visibility 0s linear 0s, transform 0.2s ease-out 0s;
}

body:has(.overview .about [href="slideshowtrigger"]:hover) 
  .overview .about a[href="nozomipopup"] {
    visibility: visible;
    transform: rotate(-40deg) translateX(0) translateY(0);
    transition: visibility 0s linear 0.3s, transform 0.2s ease-out 0.3s;
}

.overview .about a[href="mizorepopup"] {
    background: url(https://i.imgur.com/zSOBN4I.png);
    position: fixed;
    bottom: 160px;
    right: 405px;
    width: 160px;
    height: 160px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
    transform: rotate(-40deg) translateX(50%) translateY(30%);
    pointer-events: none;
    visibility: hidden;
    transition: visibility 0s linear 0s, transform 0.2s ease-out 0s;
}

body:has(.overview .about [href="slideshowtrigger"]:hover) 
  .overview .about a[href="mizorepopup"] {
    visibility: visible;
    transform: rotate(-40deg) translateX(0) translateY(0);
    transition: visibility 0s linear 0.45s, transform 0.2s ease-out 0.45s;
}

.overview .about a[href="nozomipopup"]::before {
    content: "";
    position: fixed;
    opacity: 0;
    right: 100px;
    bottom: 80px;
    background: url(https://i.imgur.com/uQnSEPK.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    transform: rotate(40deg) translateX(0) translateY(0);
    transition: opacity 0.2s ease-out;
}

body:has(.overview .about [href="slideshowtrigger"]:hover) 
  .overview .about a[href="nozomipopup"]::before {
    opacity: 1;
    transition-delay: 0.6s;
}

.overview .about a[href="mizorepopup"]::before {
    content: "";
    position: fixed;
    opacity: 0;
    right: 85px;
    bottom: 80px;
    background: url(https://i.imgur.com/8rK9yq8.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    transform: rotate(40deg) translateX(0) translateY(0);
    transition: opacity 0.2s ease-out;
}

body:has(.overview .about [href="slideshowtrigger"]:hover) 
  .overview .about a[href="mizorepopup"]::before {
    opacity: 1;
    transition-delay: 0.75s;
}
