@keyframes ten {
  0% {
    text-shadow:
      0 0 2px rgba(212, 105, 255, 0.1),
      0 0 4px rgba(212, 105, 255, 0.05);
  }
  100% {
    text-shadow:
      0 0 6px rgba(222, 135, 255, 0.9),
      0 0 12px rgba(212, 105, 255, 1),
      0 0 20px rgba(192, 85, 235, 0.85);
  }
}

@keyframes ninepointfive {
  0% {
    text-shadow:
      0 0 2px rgba(129, 160, 252, 0.1),
      0 0 4px rgba(129, 160, 252, 0.05);
  }
  100% {
    text-shadow:
      0 0 6px rgba(159, 190, 255, 0.9),
      0 0 12px rgba(129, 160, 252, 1),
      0 0 20px rgba(99, 130, 222, 0.85);
  }
}

@keyframes nine {
  0% {
    text-shadow:
      0 0 2px rgba(149, 230, 252, 0.1),
      0 0 4px rgba(149, 230, 252, 0.05);
  }
  100% {
    text-shadow:
      0 0 6px rgba(179, 255, 255, 0.9),
      0 0 12px rgba(149, 230, 252, 1),
      0 0 20px rgba(119, 210, 222, 0.85);
  }
}

.list-entries .score[score="10"] {
    animation: ten var(--glow-length) infinite alternate;
    animation-delay: 0s !important;
}

.list-entries .entry.row:has(.score[score="10"]) .title > a {
    animation: ten var(--glow-length) infinite alternate;
    animation-delay: 0s !important;
}

.list-entries .score[score="9.5"] {
    animation: ninepointfive var(--glow-length) infinite alternate;
    animation-delay: 0s !important;
}

.list-entries .entry.row:has(.score[score="9.5"]) .title > a {
    animation: ninepointfive var(--glow-length) infinite alternate;
    animation-delay: 0s !important;
}

.list-entries .score[score="9"] {
    animation: nine var(--glow-length) infinite alternate;
    animation-delay: 0s !important;
}

.list-entries .entry.row:has(.score[score="9"]) .title > a {
    animation: nine var(--glow-length) infinite alternate;
    animation-delay: 0s !important;
}
