@keyframes sparkle-glow {
    0% {
        transform: scale(0.0);
        text-shadow:
          0 0 0px white,
          0 0 0px white,
          0 0 0px white,
          0 0 0px rgba(255,255,255,0.0),
          0 0 0px rgba(255,255,255,0.0);
        opacity: 0.4;
    }
    100% {
        transform: scale(1);
        text-shadow:
          0 0 2px  white,
          0 0 4px  white,
          0 0 8px  white,
          0 0 12px rgba(255,255,255,0.8),
          0 0 16px rgba(255,255,255,0.6);
        opacity: 1;
    }
}

.overview .about a[href^="star"]::before {
  content: "✦";
  position: absolute;
  color: white;
  pointer-events: none;
  transform-origin: center;
  z-index: 9;
  transition: margin-top var(--anime-grid-timer) ease-in-out, top var(--master-transition-timer) ease-in-out, left var(--master-transition-timer) ease-in-out, filter var(--master-transition-timer) ease-in-out;
}

.overview .about a[href="star1"]::before {
  top: calc(var(--about-height) + 829px);
  left: 236px;
  font-size: 6px;
  animation: sparkle-glow 1.35s ease infinite alternate;
  animation-delay: 0.3s;
  transform: rotate(12deg) !important;
}

.overview .about a[href="star2"]::before {
  top: calc(var(--about-height) + 961px);
  left: 367px;
  font-size: 5px;
  animation: sparkle-glow 0.92s ease infinite alternate;
  animation-delay: 0.9s;
  transform: rotate(77deg) !important;
}

.overview .about a[href="star3"]::before {
  top: calc(var(--about-height) + 868px);
  left: 41px;
  font-size: 7px;
  animation: sparkle-glow 1.48s ease infinite alternate;
  animation-delay: 0.2s;
  transform: rotate(45deg) !important;
}

.overview .about a[href="star4"]::before {
  top: calc(var(--about-height) + 892px);
  left: 321px;
  font-size: 6px;
  animation: sparkle-glow 1.73s ease infinite alternate;
  animation-delay: 1.1s;
  transform: rotate(30deg) !important;
}

.overview .about a[href="star5"]::before {
  top: calc(var(--about-height) + 829px);
  left: 145px;
  font-size: 7px;
  animation: sparkle-glow 1.17s ease infinite alternate;
  animation-delay: 0.6s;
  transform: rotate(63deg) !important;
}

.overview .about a[href="star6"]::before {
  top: calc(var(--about-height) + 959px);
  left: 100px;
  font-size: 6px;
  animation: sparkle-glow 1.6s ease infinite alternate;
  animation-delay: 0.1s;
  transform: rotate(18deg) !important;
}

.overview .about a[href="star7"]::before {
  top: calc(var(--about-height) + 892px);
  left: 372px;
  font-size: 7px;
  animation: sparkle-glow 1.58s ease infinite alternate;
  animation-delay: 1.4s;
  transform: rotate(85deg) !important;
}

.overview .about a[href="star8"]::before {
  top: calc(var(--about-height) + 950px);
  left: 22px;
  font-size: 5px;
  animation: sparkle-glow 1.41s ease infinite alternate;
  animation-delay: 0.5s;
  transform: rotate(9deg) !important;
}

.overview .about a[href="star9"]::before {
  top: calc(var(--about-height) + 854px);
  left: 358px;
  font-size: 6px;
  animation: sparkle-glow 0.74s ease infinite alternate;
  animation-delay: 0.7s;
  transform: rotate(70deg) !important;
}

.overview .about a[href="star10"]::before {
  top: calc(var(--about-height) + 906px);
  left: 41px;
  font-size: 6px;
  animation: sparkle-glow 1.67s ease infinite alternate;
  animation-delay: 1.2s;
  transform: rotate(41deg) !important;
}

.overview .about a[href="star11"]::before {
  top: calc(var(--about-height) + 835px);
  left: 26px;
  font-size: 7px;
  animation: sparkle-glow 1.29s ease infinite alternate;
  animation-delay: 0.95s;
  transform: rotate(22deg) !important;
}

.overview .about a[href="star12"]::before {
  top: calc(var(--about-height) + 956px);
  left: 259px;
  font-size: 8px;
  animation: sparkle-glow 1.8s ease infinite alternate;
  animation-delay: 0.15s;
  transform: rotate(88deg) !important;
}

.overview .about a[href="star13"]::before {
  top: calc(var(--about-height) + 846px);
  left: 266px;
  font-size: 7px;
  animation: sparkle-glow 0.96s ease infinite alternate;
  animation-delay: 0.65s;
  transform: rotate(37deg) !important;
}

.overview .about a[href="star14"]::before {
  top: calc(var(--about-height) + 884px);
  left: 272px;
  font-size: 5px;
  animation: sparkle-glow 1.44s ease infinite alternate;
  animation-delay: 0.05s;
  transform: rotate(15deg) !important;
}

.overview .about a[href="star15"]::before {
  top: calc(var(--about-height) + 875px);
  left: 131px;
  font-size: 7px;
  animation: sparkle-glow 1.09s ease infinite alternate;
  animation-delay: 1.0s;
  transform: rotate(59deg) !important;
}

.overview .about a[href="star16"]::before {
  top: calc(var(--about-height) + 936px);
  left: 297px;
  font-size: 6px;
  animation: sparkle-glow 1.62s ease infinite alternate;
  animation-delay: 0.55s;
  transform: rotate(27deg) !important;
}

.overview .about a[href="star17"]::before {
  top: calc(var(--about-height) + 837px);
  left: 322px;
  font-size: 7px;
  animation: sparkle-glow 1.38s ease infinite alternate;
  animation-delay: 1.35s;
  transform: rotate(74deg) !important;
}

.overview .about a[href="star18"]::before {
  top: calc(var(--about-height) + 920px);
  left: 341px;
  font-size: 7px;
  animation: sparkle-glow 0.88s ease infinite alternate;
  animation-delay: 0.45s;
  transform: rotate(34deg) !important;
}

.overview .about a[href="star19"]::before {
  top: calc(var(--about-height) + 870px);
  left: 301px;
  font-size: 6px;
  animation: sparkle-glow 1.52s ease infinite alternate;
  animation-delay: 0.85s;
  transform: rotate(11deg) !important;
}

.overview .about a[href="star20"]::before {
  top: calc(var(--about-height) + 935px);
  left: 68px;
  font-size: 7px;
  animation: sparkle-glow 1.07s ease infinite alternate;
  animation-delay: 1.25s;
  transform: rotate(81deg) !important;
}

.overview .about a[href="star21"]::before {
  top: calc(var(--about-height) + 852px);
  left: 78px;
  font-size: 5px;
  animation: sparkle-glow 1.33s ease infinite alternate;
  animation-delay: 0.35s;
  transform: rotate(24deg) !important;
}

.overview .about a[href="star22"]::before {
  top: calc(var(--about-height) + 856px);
  left: 104px;
  font-size: 5px;
  animation: sparkle-glow 1.67s ease infinite alternate;
  animation-delay: 1.15s;
  transform: rotate(67deg) !important;
}

.overview .about a[href="star23"]::before {
  top: calc(var(--about-height) + 870px);
  left: 88px;
  font-size: 7px;
  animation: sparkle-glow 1.46s ease infinite alternate;
  animation-delay: 0.05s;
  transform: rotate(39deg) !important;
}

.overview .about a[href="star24"]::before {
  top: calc(var(--about-height) + 843px);
  left: 193px;
  font-size: 6px;
  animation: sparkle-glow 1.57s ease infinite alternate;
  animation-delay: 0.5s;
  transform: rotate(20deg) !important;
}

.overview .about a[href="star25"]::before {
  top: calc(var(--about-height) + 963px);
  left: 52px;
  font-size: 8px;
  animation: sparkle-glow 1.57s ease infinite alternate;
  animation-delay: 0.5s;
  transform: rotate(90deg) !important;
}

.overview .about a[href="star26"]::before {
  top: calc(var(--about-height) + 953px);
  left: 312px;
  font-size: 7px;
  animation: sparkle-glow 1.3s ease infinite alternate;
  animation-delay: 0.2s;
  transform: rotate(52deg) !important;
}

.overview .about a[href="star27"]::before {
  top: calc(var(--about-height) + 876px);
  left: 345px;
  font-size: 6px;
  animation: sparkle-glow 1.3s ease infinite alternate;
  animation-delay: 0.2s;
  transform: rotate(29deg) !important;
}

body:has(.favourites.preview .favourites-wrap.anime:hover) .overview .about a[href^="star"]::before, body:has(.overview .about a[href="https://anilist.co/anime/154587/Sousou-no-Frieren/"]:hover) .overview .about a[href^="star"]::before, 
body:has(.overview .about a[href="https://www.youtube.com/watch?v=i7zYUvZW9Xo"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/929944813"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=OLfxdOGGsyU"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/814482862"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=5fw8duwM5pQ"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/627732874"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=5RHFSsQSEmA"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/666950538"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=FsEVKZy6fzM"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/683463783"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=h5Cnp42d8qk"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/684950577"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=cKoB_R3paik"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/688150912"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=Y-JUFg2gAIw"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/708527293"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=Nnn64Jj4PsE"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/642641416"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=BX_t045HSK8"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/810987551"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=DvNVdo8Tchw"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/842415319"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=wxlb4_FdYZA"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/721543803"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=1Ne7oNIMJyA"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/758500795"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=nxTFAVAKT78"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/581216046"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=iCi3aJACsSE"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/698237502"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=cs4qzCzJTKk"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/694817758"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=K6hEjB6pt-E"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/562322060"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=NuBIDwIMh6A"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/564866741"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=dWKO7kzMh4M"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/822523988"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=NKNv8QKLJeE"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/663962372"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=oV4IbZpvSmE"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/659449448"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=D94MDszmlWg"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/719361603"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=dF1LpKBXmDs"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/761833173"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=traMXzjqYTA"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/813301277"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=_gZFTyPzeO4"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/730542107"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=E0d2uEQJbXs"]:hover) .overview .about a[href^="star"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/705507281"]:hover) .overview .about a[href^="star"]::before {
    margin-top: 770px;
}

body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star1"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star1"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star1"]::before {
  filter: opacity(0);
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star2"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star2"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star2"]::before {
  filter: opacity(0);
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star3"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star3"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star3"]::before {
  top: calc(var(--about-height) + 864.40px);
  left: 26.30px;
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star4"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star4"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star4"]::before {
  top: calc(var(--about-height) + 890.80px);
  left: 334.30px;
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star5"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star5"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star5"]::before {
  filter: opacity(0);
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star6"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star6"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star6"]::before {
  top: calc(var(--about-height) + 964.50px);
  left: 91.20px;
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star7"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star7"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star7"]::before {
  filter: opacity(0);
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star8"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star8"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star8"]::before {
  filter: opacity(0);
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star9"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star9"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star9"]::before {
  top: calc(var(--about-height) + 849.00px);
  left: 375.00px;
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star10"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star10"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star10"]::before {
  top: calc(var(--about-height) + 906.20px);
  left: 26.30px;
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star11"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star11"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star11"]::before {
  filter: opacity(0);
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star12"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star12"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star12"]::before {
  top: calc(var(--about-height) + 961.20px);
  left: 266.10px;
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star13"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star13"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star13"]::before {
  top: calc(var(--about-height) + 840.20px);
  left: 273.80px;
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star14"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star14"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star14"]::before {
  top: calc(var(--about-height) + 882.00px);
  left: 280.40px;
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star15"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star15"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star15"]::before {
  top: calc(var(--about-height) + 872.10px);
  left: 125.30px;
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star16"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star16"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star16"]::before {
  top: calc(var(--about-height) + 939.20px);
  left: 307.90px;
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star17"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star17"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star17"]::before {
  top: calc(var(--about-height) + 830.30px);
  left: 335.40px;
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star18"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star18"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star18"]::before {
  top: calc(var(--about-height) + 921.60px);
  left: 356.30px;
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star19"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star19"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star19"]::before {
  top: calc(var(--about-height) + 866.60px);
  left: 312.30px;
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star20"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star20"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star20"]::before {
  top: calc(var(--about-height) + 938.10px);
  left: 56.00px;
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star21"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star21"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star21"]::before {
  top: calc(var(--about-height) + 846.80px);
  left: 67.00px;
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star22"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star22"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star22"]::before {
  top: calc(var(--about-height) + 851.20px);
  left: 95.60px;
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star23"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star23"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star23"]::before {
  top: calc(var(--about-height) + 866.60px);
  left: 78.00px;
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star24"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star24"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star24"]::before {
  top: calc(var(--about-height) + 836.90px);
  left: 193.50px;
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star25"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star25"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star25"]::before {
  filter: opacity(0);
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star26"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star26"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star26"]::before {
  top: calc(var(--about-height) + 957.90px);
  left: 324.40px;
}
body:has(.favourites.preview a.favourite[href*="manga/86218"]:hover) .overview .about a[href="star27"]::before,
body:has(.overview .about a[href="https://anilist.co/activity/831145330"]:hover) .overview .about a[href="star27"]::before,
body:has(.overview .about a[href="https://www.youtube.com/watch?v=mqa_TGYd3E4"]:hover) .overview .about a[href="star27"]::before {
  top: calc(var(--about-height) + 873.20px);
  left: 360.70px;
}
